.CardWrapper
  = form_tag(pay_card_index_path, method: :post, id: 'charge-form',  name: "inputForm",class: "CardForm") do
    %label.CardForm__label カード番号
    = text_field_tag "number", "", class: "CardForm__number", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
    %br
    %label.CardForm__label 有効期限
    %select.CardForm__select.manth#exp_month{name: "exp_month", type: "text"}
      %option.option{value: ""} --
      %option.option{value: "1"}01
      %option.option{value: "2"}02
      %option.option{value: "3"}03
      %option.option{value: "4"}04
      %option.option{value: "5"}05
      %option.option{value: "6"}06
      %option.option{value: "7"}07
      %option.option{value: "8"}08
      %option.option{value: "9"}09
      %option.option{value: "10"}10
      %option.option{value: "11"}11
      %option.option{value: "12"}12
    %span 月/
    %select.CardForm__select.year#exp_year{name: "exp_year", type: "text"}
      %option.option{value: ""} --
      %option.option{value: "2019"}19
      %option.option{value: "2020"}20
      %option.option{value: "2021"}21
      %option.option{value: "2022"}22
      %option.option{value: "2023"}23
      %option.option{value: "2024"}24
      %option.option{value: "2025"}25
      %option.option{value: "2026"}26
      %option.option{value: "2027"}27
      %option.option{value: "2028"}28
      %option.option{value: "2029"}29
    %span 年
    %br
    %label.CardForm__label セキュリティコード
    = text_field_tag "cvc", "", class: "cvc", placeholder: "3~4桁の番号", maxlength: "4", id: "cvc", class: "CardForm__cvc"
    #card_token
    = submit_tag "追加する", id: "token_submit", class: "CardForm__submit"